.collapsing {     
    transition: 0.2s;     
}

.navbar {
    padding: 10px;
    border-radius: 15px;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand > * {
    margin: 10px;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
}

.nav-link { 
    /* border-bottom: 1.5px solid transparent; */
    /* padding: 0px; */
    /* margin: 0 5px; */
}
/* .nav-link:hover {
    border-color: black;
} */

.hover-style {
    color: transparent;
    transition: 0.4s;
}

.nav-link:hover > .hover-style {
    color: black;
}

@media only screen and (min-width: 576px) {
    .fixed-bottom {
        position: relative;
        flex-direction: row-reverse;
    } 

    #navbarPlaceholder, #footerPlaceholder {
        width: 100%;
        margin: auto;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        box-shadow: 4px 4px 2px #43413C;
        border: solid 2px #43413C;
    }
    #navbarPlaceholder, #footerPlaceholder {
        width: 80%;
        margin: 50px auto;
    }

}