:root {
    --color-bg: beige;
    --color-main: burlywood;
    --color-secondary: burlywood;
    --color-text-link: black;
    /* --color-text-link-hover: black;
    --color-bg-link-hover: #FBCEB1;
    --color-text-link-active: white;
    --color-bg-link-active: #97233F; */
    /* #F18B0E orange */
    /* #43413C grey */
    /* #F0DE39 yellow */
    /* #f8f9fa white */

    /* this is for later so we can keep track of styles and stay consistent, the colors are unimportant right now */
  }

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43413C; /* Light background for contrast */
}

#banner-image-container {
    position: relative;
    width: 80%;
    margin: auto;
    height: 0;
    padding-top: calc(100% * (80 / 300));
}

#banner-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 120px;
    margin: 10px;
}

#main-profile-section {
    display: flex;
    justify-content: flex-end;
}

#main-profile-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px; /* Adjust based on preference */
    /* background: linear-gradient(135deg, burlywood, beige); */
    background-color: #f8f9fa;
    color: #43413C;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    opacity: 0.9;
}

#form-setup {
    width: 80%;
    margin: auto;
}

#form-textarea {
    max-height: 200px;
}

.workshop-container {
    margin: auto;
    width: 80%;
}

#workshopGroup {
    padding: 10px;
}

/* @media only screen and (max-width: 1000px) {
    
} */