:root {
    --color-bg: beige;
    --color-main: burlywood;
    --color-secondary: burlywood;
    --color-text-link: black;
    /* --color-text-link-hover: black;
    --color-bg-link-hover: #FBCEB1;
    --color-text-link-active: white;
    --color-bg-link-active: #97233F; */
    /* #F18B0E orange */
    /* #43413C grey */
    /* #F0DE39 yellow */
    /* #f8f9fa white */

    /* this is for later so we can keep track of styles and stay consistent, the colors are unimportant right now */
  }

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #43413C; Light background for contrast */
}

#banner-image-container {
    position: relative;
    width: 80%;
    margin: auto;
    height: 0;
    padding-top: calc(100% * (80 / 300));
}

#banner-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 120px;
    margin: 10px;
}

#main-profile-section {
    display: flex;
    justify-content: flex-end;
}

#main-profile-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#specificImage {
    width: 200px;
    height: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px; /* Adjust based on preference */
    /* background: linear-gradient(135deg, burlywood, beige); */
    background-color: #f8f9fa;
    /* color: #43413C; */
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.25rem;
    margin-top: 15px;
}

.btn-cta {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
}

.features-section {
    padding: 50px 0;
}

.feature-card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
}

#form-setup {
    width: 80%;
    margin: auto;
}

#form-textarea {
    max-height: 200px;
}

.workshop-container {
    margin: auto;
    width: 80%;
}

#workshopGroup {
    padding: 10px;
}

/* @media only screen and (max-width: 1000px) {
    
} */

.star {
    font-size: 2.5rem; /* Adjust the size of the stars */
    cursor: pointer; /* Change the cursor to a pointer for interactivity */
    color: #d3d3d3; /* Default color for unselected stars (light gray) */
}

.star.selected {
    color: #007bff; /* Gold color for selected stars */
}

